<div {{react this.theReactComponent  
  value=this.value 
  display-format=this.format 
  onFwChange=this.onChange 
  mode=this.mode
  readonly=this.readonly
  locale=this.locale
  show-footer=this.showFooter
  clear-input=this.clearInput
  }}></div>
