<h1>Ember crayons demo</h1>
<nav>
  <ul>
    <li><LinkTo @route="index">Home</LinkTo></li>
    <li><LinkTo @route="buttons-demo">Buttons</LinkTo></li>
    <li><LinkTo @route="datepicker-demo">Date Picker</LinkTo></li>
  </ul>

</nav>
{{outlet}}
