<section>
<FwButton @color="primary" @children="Primary" @onClick={{this.handleClick}}></FwButton>
<FwButton @color="secondary" @children="Secondary"></FwButton>
<FwButton @color="danger" @children="Danger"></FwButton>
<FwButton @color="link" @children="Link"></FwButton>
<FwButton @color="text" @children="Text"></FwButton>
</section>

<section>
<FwButton @color="primary" @size="small" @children="Small"></FwButton>
<FwButton @color="primary"  @children="Default"></FwButton>
</section>
